{{- if .AdvancedOptions.docker }}
BLUEPRINT_DB_HOST=psql_bp
{{- else }}
BLUEPRINT_DB_HOST=localhost
{{- end }}
BLUEPRINT_DB_PORT=5432
BLUEPRINT_DB_DATABASE=blueprint
BLUEPRINT_DB_USERNAME=postgres
# We use a generated password here.
# Warning: Security Risk!
# It is highly recommended to change this password to something more secure.
BLUEPRINT_DB_PASSWORD={{.DBPassword}}
BLUEPRINT_DB_SCHEMA=public
# SSL mode is set to disable by default for development. 
# For production, it is highly recommended to set this to require or verify-full.
BLUEPRINT_DB_SSLMODE=disable
