package server

import (
	"context"
	"fmt"
	"log/slog"
	"net/http"
	"os"
	"strconv"
	"time"

	_ "github.com/joho/godotenv/autoload"
  {{if ne .DBDriver "none"}}
	"{{.ProjectName}}/internal/database"
  {{end}}
)

type Server struct {
	port int
  {{if ne .DBDriver "none"}}
	db   database.Service
  {{end}}
	httpServer *http.Server
}

func NewServer() *Server {
	port, _ := strconv.Atoi(os.Getenv("PORT"))
	if port == 0 {
		port = 8080
	}
	NewServer := &Server{
		port: port,
  {{if ne .DBDriver "none"}}
		db:   database.New(),
  {{end}}
	}

	// Declare Server config
	server := &http.Server{
		Addr:         fmt.Sprintf(":%d", NewServer.port),
		Handler:      NewServer.RegisterRoutes(),
		IdleTimeout:  time.Minute,
		ReadTimeout:  10 * time.Second,
		WriteTimeout: 30 * time.Second,
	}

	NewServer.httpServer = server

	return NewServer
}

func (s *Server) ListenAndServe() error {
	slog.Info("Server starting", "url", fmt.Sprintf("http://localhost:%d", s.port))
	return s.httpServer.ListenAndServe()
}

func (s *Server) Shutdown(ctx context.Context) error {
	return s.httpServer.Shutdown(ctx)
}

func (s *Server) Close() error {
  {{if ne .DBDriver "none"}}
	return s.db.Close()
  {{else}}
	return nil
  {{end}}
}
